.navContainer{
    padding-left: 25%;
    padding-right: 25%;
}
.navNumbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    list-style: none;
    text-decoration: none;
}

.navNumbers li{
    color: aliceblue;
}
.navNumbers li :hover {
    color: darkslategray;
    text-decoration: underline;
}

.navNumbers li :active{
    color: slategray;
}

.navNumbers li a {
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
}


@media screen and (max-width: 1000px){ 
    .navContainer{
        margin-left: 15%;
        margin-right: 15%;
    }
    .navNumbers{
        font-size: x-small;
    }
    .navNumbers li{
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: darkslategray;
    }
    .navNumbers li a {
        color: aliceblue;
        font-size: 6px;
    }
    
}