.charactersInfoCard{
    background-color: darkslategray;
    width: 20%;
    margin: 2%;
    padding: 1%;
}

.characterListSmartphone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
